.mobile-menu {
    display: none;
    position: fixed;
    justify-content: space-evenly;
    bottom: -1px;
    background: #171717;
    width: 100%;
    height: 63px;
    transition: all 0.3s ease;
    position: fixed;
    z-index: 100;
    backdrop-filter: blur(10px);
    padding: var(--distance);
    font-size: 1rem;
    border-radius: 20px 20px 0 0;
    border-top: 1px solid var(--border-color);
    
    &__list {
        &__title {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease;
            color: #fff;

            &:hover {
                color: var(--main-color);
                transform: translateY(-1px);
            }
         
            &__icon {
                width: 20px;
                height: 20px;
            }
        }

    }
}


:global(.mobile-menu-active){
    color: var(--main-color) !important;
}

@media (max-width: 768px) {
    .mobile-menu {
        display: flex;
    }
}