.coin-info {
    margin-bottom: var(--distance);
    height: 138px;
    min-height: 74px;

    &__header {
        display: flex;
        align-items: center;
        padding: var(--padding);
        border-bottom: 1px solid var(--border-color);

        &__icon {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 4px;
            margin-right: 0.5rem;
        }

        &__name {
            font-size: 1.8rem;
            margin-right: auto;
            
            span {
                font-size: 1rem;
            }
        }

        &__left {
            display: flex;
            flex-direction: column;

            &__price {
                display: flex;
                align-items: end;

                &__trade {
                    font-size: 2rem;
                    margin-right: 0.25rem;
                }

                &__currency {
                    font-size: 1rem;
                    color: var(--font-color-fade);
                }
            }

            &__change-price {
                display: flex;
                align-items: center;
                justify-content: end;

                p:first-child {
                    margin-right: 15px;
                }

                p:last-child {
                    margin-right: 35px;
                }
            }
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;
        padding: var(--padding);
        
        &__volume, &__week-price {
            display: flex;
            flex-direction: column;
        }

        &__volume {
            &__trade-price {
                letter-spacing: -0.5px;
            }
        }
    }
}

.up {
    color: var(--up) !important;
}

.down {
    color: var(--down) !important;
}

@media (max-width: 768px) {
    .coin-info {
        height: unset;

        &__header {
            border: none;
    
            &__name {
                font-size: 1.2rem;
                span {
                    font-size: 0.85rem;
                }
            }
            &__left {
    
                &__price {
    
                    &__trade {
                        font-size: 1.25rem;
                    }
    
                    &__currency {
                        font-size: 0.75rem;
                        color: var(--font-color-fade);
                    }
                }
    
                &__change-price {
                    display: flex;
                    align-items: center;
                    justify-content: end;
    
                    p:first-child {
                        margin-right: 10px;
                    }
    
                    p:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
        &__body {
            display: none;
        }
    }
}