.feed {

    &__header{
        display: flex;
        align-items: center;
        padding: var(--paddingY) 0;

        &__img {
            margin-right: 8px;
            width: 20px;
            height: 20px;
            border-radius: 4px;
        }

        &__title{
            font-size: 1.25rem;
        }
    }

    &__textarea {
        display: flex;
        align-items: start;
        background-color: var(--background);
        margin-bottom: var(--paddingY);
        padding: var(--padding);
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius);

        textarea {
            width: 100%;
            height: 70px;
        }

        button {
            width: 100px;
            height: 70px;
        }
    }

    &__sort-button {
        padding-bottom: var(--paddingY);
    }

    &__body{
        display: flex;
        flex-direction: column;

        &__left {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-right: 10px;
        }

        &__right {
            width: 100%;
        }

        &__list {
            display: flex;
            align-items: start;
            padding: var(--padding);
            border-left: 4px solid var(--main-color);
            background: var(--card-dark);
            border-radius: var(--border-radius);
            margin-bottom: var(--paddingY);
            min-height: 85px;

            &__picture {
                
                img {
                    width: 26px;
                    height: 26px;
                    border-radius: 100%;
                    background-color: #fff;
                    text-align: center;
                    line-height: 25px;
                    color: #9a9a9a;
                    margin-bottom: 10px;
                }
            }

            &__recomend {
                display: flex;
                align-items: center;
                flex-direction: column;
                font-size: 1rem;
                cursor: pointer;

                &:hover {
                    color: var(--up);
                }
            }

            &__header {
                display: flex;
                align-items: start;
                justify-content: space-between;
                margin-bottom: 10px;

                &__nickname {
                    color: var(--fade-color);
                    font-size: 1rem;
                }

                i {
                    cursor: pointer;
                    width: 8px;
                    color: var(--font-color);
                    padding-top: 5px;
                }
            }

            &__content {
                max-height: 82px;
                overflow: hidden;
            }

            &__more-button {
                margin-top: 10px;
                color: var(--main-color);
                cursor: pointer;
            }

            &__footer {
                display: flex;
                align-items: center;
                color: var(--fade-color);
                font-size: 0.8rem;
                display: flex;
                margin-top: 10px;

                &__line {
                    width: 1px;
                    height: 10px;
                    border-radius: 2px;
                    background: var(--fade-color);
                    margin: 0 6px;
                }
            }
        }
    }
}
