.tradingview {
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 610px;
}

@media (max-width: 768px) {
    .tradingview {
        height: 460px;
    }
}

@media (max-width: 480px) {
    .tradingview {
        height: 380px;
    }
}