.board {
    max-width: var(--page-width);
    margin: 0 auto;

    &__form {
        margin-bottom: 3rem;

        &__modify {
            display: flex;
            justify-content: end;
            margin-bottom: 2rem;

            button {
                padding: 0;

                a {
                    width: 50px;
                    line-height: 30px;
                    display: block;
                    color: #fff;
                }
            }
        }
    }

    &__write-button {
        display: flex;
        justify-content: end;
        margin-top: var(--distance);
        // background-color: --var(main-color);
    }
}