.chat {
    width: 100%;
    min-width: 300px;
    height: 100%;
    background: linear-gradient(145deg, #121315, #151619);
    box-shadow:  5px 5px 7px #0f0f11,
                 -5px -5px 7px #191b1d;

    &.card {
        border-radius: 25px;
        margin: 0;
    }

    &.no-layout {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    .chat {
        display: none;

        &.no-layout {
            display: block;
        }
    }
}