.board-list {
    position: relative;

    &:hover {
        .board-list__thumbnail {
            display: flex;
            justify-content: center;
        }
    }

    &__link {
        display: flex;
        align-items: center;
    }

    &__shortcuts {

        &:hover {
            text-decoration: underline;
        }
    }

    &__banner {
        width: 200px;
        height: 200px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0.5rem 0.6rem;
        align-items: center;

        img {    
            width: inherit;
        }
    }

    &__title {
        text-align: left;
        padding: 0 !important;

        &__image-icon {
            margin-left: 0.25rem;
        }


        &__text {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        &__comments {
            width: 25px;
            text-align: center;
            color: #aaa;
        }
    }
}

:global(.board-list.active){
    background-color: #e6eeff;
}

:global(.board-list__active-board){
    color: #567bff;
}

:global(.board-list__thumbnail img:hover){
    display: none;
}
