.editor {
    // border: ;
}

:global(.ql-toolbar.ql-snow) {
  border-color: var(--main-color) !important;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

:global(.ql-container.ql-snow) {
  border-color: var(--main-color) !important;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

:global(.ql-editor) {
  font-size: 1rem;
  padding: 3rem 2rem !important;
  min-height: 300px;
}

:global(.ql-editor img) {
    max-width: 100%;
    max-height: 100%;
}

:global(.ql-picker-label) {
    color: var(--font-color);
}
:global(.ql-stroke) {
    stroke: var(--font-color) !important;
}

:global(.ql-editor.ql-blank::before) {
  font-size: 1rem;
  font-style: unset !important;
  color: var(--font-color) !important;
  padding: 0 1rem !important;
}

:global(.ql-size-huge) {
    font-size: 2.5em;
}

:global(.ql-size-large) {
    font-size: 1.5em;
}

:global(.ql-size-small) {
    font-size: 0.75em;
}
