.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 500;

    &__cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #22292f5d;
        opacity: 1;
        transition: all 0.3s;
        animation: fade 0.3s;
    }

    &__content {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
        transition: all 0.3s;
        animation: smoothAppear 0.3s;
        border-radius: var(--border-radius);
        background: var(--card-dark);
        padding: 0.625rem;
        max-height: 600px;
        overflow-y: auto;
    }
}

:global(.modal__content.inactive) {
    transform: translate(-50%, -80%) !important;
    opacity: 0;
    width: auto;
}
:global(.modal__cover.inactive) {
    opacity: 0;
}

@media (max-width: 768px) {
    .modal__contents__content {
        max-height: 400px;
    }
}