.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 500;

    &__cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #22292f91;
        opacity: 1;
        transition: all 0.3s;
        animation: fade 0.3s;
    }

    &__contents {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
        transition: all 0.3s;
        animation: smoothAppear 0.3s;
        border-radius: 5px;
        background: var(--card);
        border: 1px solid var(--border-color);
        // box-shadow: -12px 12px 4px #090c14, 6px 23px 2px #2d33447d;
        min-width: 320px;

        &__header {
            position: relative;
            background: var(--background);
            height: 4rem;
            font-size: 1rem;
            font-weight: 500;
            border-radius: 5px 5px 0 0;

            &__title {
                position: absolute;
                top: 70%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: calc(100% - 3rem);
                background: var(--table-color);
                border-radius: 4px;
                padding: 1rem 1.4rem;
                box-shadow: 0px 2px 5px #090c14;
            }
            
            &__close {
                position: absolute;
                top: -10px;
                right: -15px;
                font-size: 1.2rem;
                padding: 0.65rem 0.85rem;
                border-radius: 10px;
                box-shadow: 3px 3px #000;
                background: var(--card);
                transition: all 0.3s;
                cursor: pointer;

                &:hover {
                    top: -5px;
                    right: -10px;
                }
            }
        }

        &__content {
            padding: 1.8rem 1.4rem 0.8rem;
            max-height: 600px;
            overflow-y: auto;
        }
    }
}

:global(.modal__contents.inactive) {
    transform: translate(-50%, -80%) !important;
    opacity: 0;
    width: auto;
}
:global(.modal__cover.inactive) {
    opacity: 0;
}

@media (max-width: 768px) {
    .modal__contents__content {
        max-height: 400px;
    }
}