.my-feed {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: start;
        padding: 1.5rem;
        border-left: 4px solid var(--main-color);
        background: var(--card-dark);
        border-radius: var(--border-radius);

        &__header {
            width: 100%;
            display: flex;
            gap: 10px;

            &__img {
                border-radius: 4px;
                width: 20px;
                height: 20px;
            }

            &__like {
                margin-left: auto;
                font-size: 0.85rem;
            }

            &__date {
                font-size: 0.85rem;
            }
        }

        &__body {
            width: 100%;
            display: flex;
            justify-content: space-between;

            &__content {
                width: 89%;
            }

            &__btn {
                border-radius: 4px;
                height: 20px;
            }
        }

        &__none {
            text-align: center;
            width: 100%;
            padding: 15px;
        }
    }
}