.mypage {
    display: flex;
    justify-content: center;

    &__wrap {
        width: 480px;
    }

    &__slot {
        margin-bottom: var(--distance);
    }

    &__joinout {
        cursor: pointer;
        width: 100%;
        height: 60px;
        text-align: center;
        background-color: #000000;
        color: #fff;
        font-size: 1.25rem;
        margin-bottom: 12px;
        border-radius: 4px;
    }
}