.breadcrumb {
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    &__title {
        width: fit-content;
        font-size: 1.2rem;
        font-weight: 800;
        color: var(--main-color);
    }
}


@media (max-width: 480px) {
    .breadcrumb {
        &__title {
            font-size: 1.1rem;
        }
    
    }
}