.news-list {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    max-width: var(--page-width);
    width: 100%;

    &__article {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        border: 1px solid var(--border-color);
        border-left-width: 4px;
        border-left-color: var(--main-color);
        border-radius: var(--border-radius);
        padding: 1.5rem;
        width: 100%;
        background: var(--d-background);

        &:hover {
            transition: all 0.3s;
            box-shadow:  0 20px 25px -5px rgb(59 130 246 / 0.1), 0 8px 10px -6px rgb(59 130 246 / 0.1);
            border-color: var(--main-color);
        }

        &__image-wap {
            display: flex;
            align-items: center;
            gap: 2px;
        }

        &__image {
            position: relative;
            max-width: 96px;
            min-width: 96px;
            max-height: 96px;
            min-height: 96px;
            border: 2px solid #334155;
            border-radius: 0.5rem;
            cursor: pointer;

            &:hover {
                img {
                    position: fixed;
                    z-index: 100;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: auto;
                    height: auto;
                    max-width: 400px;
                    object-fit: contain;
                    border: 2px solid var(--border-color);
                }
            }

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__contents {

            &__text {
                margin-bottom: 0.75rem;
                font-size: 1.125rem;
            }
            
            &__time-ago {
                display: flex;
                align-items: center;
                color: var(--font-gray);
                gap: 0.5rem;
                font-size: 0.85rem;
                line-height: 1.25rem;
            }
        }

    }

    &__more {
        font-size: 1.125rem;
        background: var(--card);
        border: 1px solid var(--border-color);
        padding: 12px 32px;
        border-radius: var(--border-radius);
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            opacity: 0.5;
            box-shadow:  0 10px 10px -10px rgba(59, 130, 246, 0.1), 0 5px 10px -6px rgba(59, 130, 246, 0.1);
        }
    }

    &__skeleton {
        display: inline-block;
        width: 100%;
        height: 156px;
        border-radius: var(--border-radius);
        background: linear-gradient(
        90deg,
        var(--d-background) 0%,
        var(--border-color), 3%,
        var(--d-background) 4%
        );
        background-size: 200% 100%;
        animation: skeleton-shimmer 4s linear infinite;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1.5rem;
        border: 1px solid var(--border-color);
        border-left-width: 4px;
        border-left-color: var(--main-color);

        &__text {
            height: 16px;
            border-radius: 2px;
            background: linear-gradient(
            90deg,
            var(--d-background) 0%,
            var(--border-color), 3%,
            var(--d-background) 10%
            );
            background-size: 200% 100%;
            animation: skeleton-shimmer 4s linear infinite;
        }
    }
}

:global(.emoji) {
    background-image: none !important;
}

@media (max-width: 768px) {
    .news-list {
        &__article {
            flex-direction: column;
            flex-flow: wrap;

            &__image {
                &:hover {
                    img {
                        position: unset;
                        z-index: unset;
                        top: unset;
                        left: unset;
                        transform: unset;
                        width: unset;
                        height: unset;
                        max-width: unset;
                        object-fit: unset;
                        border: unset;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 0.5rem;
                    }
                }
            }
        }
    }
}

@keyframes skeleton-shimmer {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
}
 