:global(#app) {
  min-height: calc(100vh - 120px);
}

:global(button) {
  min-width: fit-content;
  background: var(--main-color);
  border: 1px solid var(--ligth-color);
  padding: 0.35rem 0.65rem;
  border-radius: var(--border-radius);
  text-align: center;
  cursor: pointer;
  color: #d0d2d6;
  font-weight: 700;
  transition: filter 0.3s;

  &:hover {
    filter: brightness(0.9);
  }
}

:global(button.highlight) {
  background: var(--main-color);
}

:global(button.unset) {
    all: unset
}

:global(button.wide) {
  width: 100%;
}

:global(button.large) {
  font-size: 1.125rem;
  font-weight: 600;
  padding: 1rem;
}

:global(button.medium) {
  padding: 8px 2rem;
  line-height: 1.3rem;
  font-size: 1rem;
}

:global(button.small) {
  padding: 0px 6px;
  line-height: 1.3rem;
  font-size: 0.85rem;
}

:global(button.red) {
  background: var(--red);
  border-color: var(--red);
  color: #fff;
}

:global(button.red.line) {
  color: var(--red);
}

:global(button.green) {
  background: var(--green);
  border-color: var(--green);
  color: #fff;
}
:global(button.green.line) {
  color: var(--green);
}
:global(button.blue) {
  background: var(--blue);
  border-color: var(--blue);
  color: #fff;
}
:global(button.blue.line) {
  color: var(--blue);
}

:global(button.gray) {
  background: var(--gray);
  border-color: var(--gray);
  color: #000;
}

:global(button.gray.line) {
    color: var(--gray);
}

:global(button.dark) {
  background: var(--dark-color);
  border: 1px solid var(--dark-color);
  color: var(--font-color);
}

:global(button.dark.line) {
  border-color: var(--dark-color);
    color: var(--font-color);
}

:global(button.black) {
  background: var(--black);
  border-color: var(--black);
  color: var(--font-color-light);
}

:global(button.gray.line) {
    color: var(--gray);
}

:global(button.gray.fade) {
  color: var(--gray);
  border-color: #82868b31;
  background: #82868b31;
  cursor: unset;
}


:global(button.line) {
  border: 1px solid var(--main-color);
  color: var(--main-color);
  background: unset;
}

:global(button.red.fade) {
  color: var(--red);
  border-color: #ff000030;
  background: #ff000030;
  cursor: unset;
}

:global(button.green.fade) {
  color: var(--green);
  border-color: #00ff2230;
  background: #00ff2230;
  cursor: unset;
}

:global(button.fade) {
  color: var(--main-color);
  border-color: #06bee140;
  background: #06bee140;
  cursor: unset;
}

:global(textarea) {
    color: var(--font-color) !important;
    border-radius: var(--border-radius);
    background-color: var(--background);
    padding: 0.7rem;
    border: none;
}

:global(input) {
  color: var(--font-color) !important;
  padding: 0.7rem;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--background);
  width: 100%;
  transition: text-indent 0.3s;

  &:focus {
    transition: 0.3s border;
    // border: 1px solid;
    // border-color: var(--main-color) !important;

    &:-webkit-p-placeholder {
      text-indent: 5px;
    }
    &:-webkit-ms-input-placeholder {
      text-indent: 5px;
    }
    &::-webkit-input-placeholder {
      text-indent: 5px;
    }
    &::-webkit-ms-input-placeholder {
      text-indent: 5px;
    }
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    background-color: #c6c6c62b !important;
    color: var(--font-color-down) !important;
  }

  &.invalid {
    background: url(./assets/icon/error.svg) no-repeat;
    background-position: right 10px center;
    background-size: 1.125rem;
  }
}

:global(input[type=file]::file-selector-button) {
    width: 150px;
    height: 30px;
    background: #fff;
    border: 1px solid rgb(77,77,77);
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        background: rgb(77,77,77);
        color: #fff;
    }
}

:global(label) {
  color: var(--font-color);
  font-size: 0.85rem;
}

:global(.invalid) {
  border-color: #ff4a4a !important;
  transition: 0.3s border-color;
}

:global(select) {
  padding: 0.538rem 1rem;
  padding-right: 1.5rem !important;
  // color: var(--font-color-down);
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  font-size: 0.85rem;
  appearance:none;
  background: url(./assets/icon/select-arrow.svg) no-repeat;
  background-size: 0.6rem;
  background-position: right 8px center;

  &:focus {
    border-color: var(--main-color);
  }

  &:focus-visible {
    outline: none;
  }
}

:global(.input-search) {
  display: flex;
}

:global(.input-search input) {
  border-radius: 4px 0 0 4px;
  border-right: none;
}

:global(.input-search button) {
  border-radius: 0 4px 4px 0;
}

:global(.picker) {
  color: var(--font-color) !important;
  background-color: var(--card) !important;
}

:global(.date-time-field) {
  margin-right: 10px;
}

:global(.date-time-field input) {
  font-size: 0.8rem;
  padding: 0.43rem 1rem !important;
}

:global(.wrap) {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 var(--distance);
}

:global(.no-layout) {
    position: absolute;
    background-color: var(--background);
    z-index: 2000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100.1%;
}

:global(.card) {
    padding: var(--padding);
    margin-bottom: var(--distance);
    background: var(--card);
    border-radius: 12px;
    border: 1px solid var(--border-color);
    backdrop-filter: blur(10px);
    box-shadow: var(--card-shadow);
}

:global(.blind) {
    display: none;
}

@media (max-width: 768px) {
    :global(#app) {
        min-height: calc(100vh - 140px);
      }
}