$profileSize: 75px;


.profile {
    display: flex;
    gap: 12px;
    flex-direction: column;

    &__picture {
        display: none;
    }

    &__picture-lable {
        position: relative;
        display: block;
        width: $profileSize;
        margin: var(--paddingY) auto;
        
        &__img-wrap {
            width: $profileSize;
            height: $profileSize;
            border: 1px solid var(--border-color);
            border-radius: 100px;
            cursor: pointer;
            overflow: hidden;
        }

        img {
            height: $profileSize;
        }

        &__icon {
            color: #000;
            cursor: pointer;
            position: absolute;
            width: 1.7rem;
            height: 1.7rem;
            line-height: 1.6rem;
            font-size: 0.8rem;
            border-radius: $profileSize;
            background-color: #fff;
            border: 1px solid var(--border-color);
            right: 0;
            bottom: 0;
            text-align: center;
        }
    }

    &__nickanme {

        &__label {
            padding-left: 2px;
        }

        &__input {
            margin-top: 4px;
            border: 1px solid var(--border-color);
            border-radius: 4px;
        }
    }

    &__submit {
        border-radius: 4px;
        padding: 0.625rem 0.65rem;
    }

    &__joinout {
        cursor: pointer;
        width: 100%;
        height: 60px;
        text-align: center;
        background-color: #000000;
        color: #fff;
        font-size: 1.25rem;
        margin-bottom: 12px;
        border-radius: 4px;
    }
}